<div class="search container">
    <h1>Search for houses and flats for sale across the UK</h1>

    <form name="search__form" action="/results" method="post">
        <input class="search__location" name="q" type="text" placeholder="n11" />
        <input class="search__button" type="submit" value="Search" />
    </form>
</div>